*{
    margin: 0;
    padding: 0;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
body{
    background:#2C2C2C ;
}
.container{
    width:1440px;
    height: auto;
    margin: 0 auto;


}
.header{
    width:1440px;
    height: 66px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background:#323232;
    margin-bottom: 50px;

}
.first_part{
    width: 500px;
    margin-left: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.header_text{
    font-size: 15px;
    margin-left: 25px;
    color: white;

}
.second_part{
    margin-right: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.numder{
    margin-right: 25px;
    color: white;
}
.header_change{
    color: black;
    font-size: 16px;
    width: 193px;
    height: 45px;
    background: #FCCA49;
    font-weight: bold;
    border: none ;
    border-radius: 12px;
    transition: all 1s ease 0s;
}
.header_change:hover{
    color: black;
    font-size: 16px;
    width: 193px;
    height: 45px;
    background: #ffffff;
    font-weight: bold;
    border: none ;
    border-radius: 12px;
}
.nav{
    width: 1440px;
    height: auto;
    display: grid;
    grid-template-rows: 180px 80px 80px 80px 150px ;
    grid-template-columns:700px 700px ;
    grid-gap: 40px;
}
.nav_imege{
    margin: 0 auto;

    width: 522px;
    height: 540px;
    grid-column: 2/3;
    grid-row: 1/5;
}
.nav_title{
    grid-column: 1/2;
    grid-row: 1/2;
    color: white;
    font-size: 46px;
    font-weight: bold;
    margin-left: 80px;
}
.nav_text{
    grid-column: 1/2;
    grid-row: 2/3;
    font-size: 20px;
    margin-left: 80px;
    color: white;
}
.nav_change{
    width: 346px;
    height: 63px;
    grid-column: 1/2;
    grid-row: 3/4;
    background: #FCCA49;
    font-weight: bold;
    border: none ;
    margin-left: 80px;
    border-radius: 12px;
    font-size: 20px;
    transition: all 1s ease 0s;

}
.nav_change:hover{
    width: 346px;
    height: 63px;
    color: black;
    font-size: 20px;
    background: #ffffff;
    font-weight: bold;
    border: none ;
    border-radius: 12px;
}
.nav_blok_img{
    grid-row: 4/5;
    grid-column: 1/2;
    margin-left: 80px;

}
.nav_blok_img_first{
    display: flex;
    margin-bottom: 25px;
}
.nav_blok_img_second{
    display: flex;
}
.nav_img_1{
    width: 240px;
    height: 63px;
    margin-right: 25px;
}
.nav_img_2{
    width: 275px;
    height: 63px;
}
.nav_img_3{
    width: 277px;
    height: 63px;
    margin-right: 25px;
}
.nav_img_4{
    width: 295px;
    height: 63px;
}
.info-button{
    cursor: pointer;
    color: #828282;
    font-size: 1.72vw;
    font-weight: 400;
    font-family: "Monotype Corsiva";
    transition: all 200ms;
}


.main{
    width: 1440px;
    height: auto;
    margin: 0 auto;

}
.main_navigation{
    width: 1280px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 80px;

}
.main_navigation_cours{
    font-size: 30px;
    color: white;
}
.main_navigation_low_line{
    width: 518px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.main_navigation_low_line_text{
    font-size: 20px;
    color: white;
}
.main_navigation_low_line:nth-child(1)>.info-button{
    margin-right: 20px;
}
.main_navigation_low_line_text:nth-child(1){
    font-size: 20px;
    color: white;
    border-block-end: 2px solid #FCCA49;
    writing-mode: horizontal-tb;
}
.main_blok{
    width: 1440px;
    height: auto;
    margin: 0 auto;
    margin-left: 25px;
    margin-top: 75px;
    display: grid;
    grid-template-columns: 385px 385px 385px;
    grid-template-rows: 320px 320px;
    grid-gap: 80px;


}
.main_blok_cours{
    padding: 30px;
    border-radius: 12px;
    width: 381px;
    height: 300px;
    background: #323232;




}

.main_blok_cours:nth-child(1){
    grid-column: 1/2;
    grid-row: 1/2;
}
.main_blok_cours:nth-child(2){
    grid-column: 2/3;
    grid-row: 1/2;
}
.main_blok_cours:nth-child(3){
    grid-column: 3/4;
    grid-row: 1/2;
}
.main_blok_cours:nth-child(4){
    grid-column: 1/2;
    grid-row: 2/3;
}
.main_blok_cours:nth-child(3){
    grid-column: 2/3;
    grid-row: 2/3;
}


.main_blok_cours_lesson{
    width: 97px;
    height: 24px;
    background: #D7D7D7;
    border: none;
    border-radius: 6px;
}
.main_blok_cours_week{
    width: 97px;
    margin-right: 5px;
    height: 24px;
    border: none;
    border-radius: 6px;
    background: #D7D7D7;
}
.main_blok_cours_title{
    margin-top: 25px;
    font-size: 36px;
    color: #FCCA49;
}
.main_blok_cours_text{
    margin-top: 30px;
    font-size: 16px;
    color: white;
}
.main_blok_cours_add{
    font-size: 16px;
    color: white;
    margin-top: 70px;
    width: 350px;
    float: left;

}
.main_blok_cours_--\>{
    font-size: 16px;
    color: white;
    margin-top: 70px;
    float: right;

}
.info{
    width: 1440px;
    height: auto;
    margin: 0 auto;

}
.info_img{
    width: 1370px;
    height: auto;
    margin-left:25px;
    /*margin-right:100px;*/
    margin-top: 190px;
}
.progress{
    width: 1240px;
    height: 169px;
    margin: 0 auto;
    margin-left:100px;
    margin-right:100px;
    margin-top: 190px;
}
.progress_title{
    font-size: 30px;
    color: white;
}
.elementor-video{
    width: 1240px;

}