*{
    margin: 0;
    padding: 0;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
body{
    background:#2C2C2C ;
}
.container{
    width:1440px;
    height: auto;
    margin: 0 auto;


}
.header{
    width:1440px;
    height: 66px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background:#323232;

}
.first_part{
    width: 500px;
    margin-left: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.header_text{
    font-size: 15px;
    margin-left: 25px;
    color: white;

}
.second_part{
    margin-right: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.numder{
    margin-right: 25px;
    color: white;
}
.header_change{
    color: black;
    font-size: 16px;
    width: 193px;
    height: 45px;
    background: #FCCA49;
    font-weight: bold;
    border: none ;
    border-radius: 12px;
    transition: all 1s ease 0s;
}
.header_change:hover{
    color: black;
    font-size: 16px;
    width: 193px;
    height: 45px;
    background: #ffffff;
    font-weight: bold;
    border: none ;
    border-radius: 12px;

}
